<div class="container-fluid">
    <div class="col-md-4">
        <div class="row">
            <h1>Web Service Configuration</h1>
            <div class="form-group">
                <input it-input class="form-control floating-label" type="text" it-label="URL" ng-model="configController.settings.url">
            </div>
        </div>
        <div class="row">
            <h1>Hand Parameters</h1>
            <div class="form-group">
                <input it-input class="form-control floating-label" type="text" it-label="Thumb" ng-model="configController.settings.handParams.thumb">
            </div>
            <div class="form-group">
                <input it-input class="form-control floating-label" type="text" it-label="Index" ng-model="configController.settings.handParams.index">
            </div>
            <div class="form-group">
                <input it-input class="form-control floating-label" type="text" it-label="Major" ng-model="configController.settings.handParams.major">
            </div>
            <div class="form-group">
                <input it-input class="form-control floating-label" type="text" it-label="Annular" ng-model="configController.settings.handParams.ringFinger">
            </div>
            <div class="form-group">
                <input it-input class="form-control floating-label" type="text" it-label="Auricular" ng-model="configController.settings.handParams.auricular">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="configController.saveSettings()">save</button>
            </div>
        </div>
    </div>
</div>
